*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif;
}

body{
    background:#0f172a;
    overflow:hidden;
    color:white;
}

#snow-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;             /* Menaruh canvas melayang di atas background dasar */
    pointer-events: none;   /* PENTING: Supaya tombol-tombol di bawahnya tetap bisa diklik */
}

/* Pastikan container utama aplikasi ditaruh di atas canvas */
.nav-container, .main-container {
    position: relative;
    z-index: 2;             /* Z-index lebih tinggi dari canvas */
}

/* NAVBAR */

.nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 60px;
}

.nav-logo-section{
    display:flex;
    align-items:center;
    gap:10px;
}

.nav-logo{
    width:45px;
}

.nav-logo-name{
    color:white;
    font-size:28px;
    font-weight:bold;
}

.login-signup-section a{
    text-decoration:none;
    color:white;
    font-size:16px;
}

/* MAIN */

.register-main-container{
    height:85vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* CARD */

.register-card{

    width:420px;

    padding:40px;

    border-radius:20px;

    background:rgba(255,255,255,0.08);

    backdrop-filter:blur(10px);

    border:1px solid rgba(255,255,255,0.1);

    box-shadow:0 8px 30px rgba(0,0,0,0.3);

    z-index:2;
}

.register-heading{
    font-size:36px;
    margin-bottom:10px;
}

.register-subheading{
    color:#cbd5e1;
    margin-bottom:30px;
}

/* INPUT */

.input-section{
    margin-bottom:18px;
}

.input-section input{

    width:100%;

    padding:15px;

    border:none;

    outline:none;

    border-radius:12px;

    background:#1e293b;

    color:white;

    font-size:15px;
}

/* BUTTON */

.register-button{

    width:100%;

    padding:15px;

    border:none;

    border-radius:12px;

    background:#3b82f6;

    color:white;

    font-size:16px;

    cursor:pointer;

    transition:0.3s;
}

.register-button:hover{
    transform:translateY(-2px);
    background:#2563eb;
}

/* LOGIN LINK */

.login-link-section{
    margin-top:20px;
    text-align:center;
    color:#cbd5e1;
}

.login-link-section a{
    color:#60a5fa;
    text-decoration:none;
}

/* BACKGROUND ELEMENTS */

.element1,
.element2,
.element3{
    position:absolute;
    border-radius:50%;
    filter:blur(100px);
    z-index:0;
}

.element1{
    width:250px;
    height:250px;
    background:#2563eb;
    top:-50px;
    left:-50px;
}

.element2{
    width:220px;
    height:220px;
    background:#7c3aed;
    bottom:-50px;
    right:-50px;
}

.element3{
    width:180px;
    height:180px;
    background:#06b6d4;
    top:50%;
    left:10%;
}